!DOCTYPE html>
<head>
<script src="/assets/jquery.js"></script>
<link href="https://fonts.googleapis.com/css?family=Six+Caps" rel="stylesheet" type="text/css">
<style>
body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 300px;
  background: #232323;
}
div {
  height: 100px;
  background-size: cover;
  position: relative;
  margin: 30px 0 0 0;
  border-radius: 10px;
}
h1 {
  font-family:'Six Caps', sans-serif;
  text-align: left;
  font-size: 90px;
  color: #aaaaaa;
  margin: 30px 0 0 0;
}
h2 {
  font-family:'Six Caps', sans-serif;
  font-size: 70px;
  text-align: left;
  color: #bbbbbb;
  margin: 30px 0 100px 15px;
}
h3 {
  font-family: 'Six Caps', sans-serif;
  font-size: 50px;
  text-align: left;
  color: #bbbbbb;
  margin: 30px 0 100px 15px;
}
h4 {
  font-family: 'Six Caps', sans-serif;
  font-size: 30px;
  text-align: left;
  color: #bbbbbb;
  margin: 30px 0 100px 15px;
}
p {
  font-family: 'Six Caps', sans-serif;
  font-size: 17px;
  text-align: left;
  color: #bbbbbb;
  margin: 30px 0 30px 15px;
}
li {
  font-family: 'Six Caps', sans-serif;
  font-size: 17px;
  text-align: left;
  color: #bbbbbb;
  margin: 30px 0 30px 15px;
}

small {
  opacity: 0;
}

.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}
