<h1><%= @museum.name %></h1>
<h2><%= @museum.city %></h2>
<h3><em> Explore Galleries at  <%= @museum.name %></em></h3>


<% @galleries.each do |gallery| %>
  <% if gallery.museum_id == @museum.id %>
      <li><em><%= link_to gallery.name, gallery_path(gallery) %></em></li>
  <% end %>
<% end %>
