<h1><%= @museum.name %></h1>
<h3><%= @museum.city %></h3>
<h4>Explore Galleries at  <%=@museum.name %></h4>
<% @galleries.each do |gallery| %>
  <% if gallery.museum_id == @museum.id %>
      <li><%= link_to gallery.name, gallery_path(gallery) %></li>
  <% end %>
<% end %>
